[submodule "third-party/ArduinoJson"]
	path = third-party/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
